/* .itemCard {
  width: 100%;
} */

.itemCard {
  /* position: fixed; */

  /* top: 0; start at top */
  /* left: 0; start at left */
  /* /  width: 100vw; full viewport width */
  /* height: 100vh; full viewport height */
  /* z-index: 1000; */

  background-color: hsl(0, 0%, 100%);
  max-width: 100p0x;
  border-radius: 1rem;
  color: black; /* for contrast */

  padding: 8rem 0 0 0;
}

.itemDetailsTitle {
  padding: 1rem;
  font-size: 1rem;
}

.itemDetailsPrice {
  padding: 1rem;
}

.productImageCard {
  margin: 0rem;
  height: 10rem;
  width: auto;
}

.itemCardProductDescription {
  font-size: 0.8rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.itemDetailsSubTotal {
  padding: 1rem 0rem 0rem 0rem;
}

@media (min-width: 1024px) {
  .itemDetailsContainer {
    padding: 4rem;
  }
  .itemCard {
    position: fixed;

    top: 0; /* start at top */
    left: 0; /* start at left */
    width: 100vw; /* full viewport width */
    height: 100vh; /* full viewport height */
    z-index: 1000;
    background-color: white;

    border-radius: 1rem;
    color: black; /* for contrast */
    padding: 2rem;
  }

  .itemDetailsTitle {
    padding: 1rem;
  }

  .itemDetailsPrice {
    padding: 2rem;
  }

  .productImageCard {
    margin: 5rem;
    height: 30rem;
    width: auto;
  }

  .itemCardProductDescription {
    font-size: 1.4rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .itemDetailsSubTotal {
    padding: 5rem 0rem 0rem 0rem;
  }

  .btnAddCart {
    padding: 0.5rem 1rem;
    margin: 1rem;
    background-color: #3b82f6; /* Tailwind's blue-500 */
    color: white;
    border-radius: 0.25rem;
  }
}
