#root {
  /* max-width: 1280px; */
  height: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

* {
  font-family: "Comic Neue", "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categoryHeading {
  padding: 8rem 0 2rem 0;
}

.categoryPage {
  /* max width: 360px;
  width: 100%; */
}

a {
  text-decoration: none;
  color: inherit;
}

.loading {
  padding: 2rem;
  font-size: 1.2rem;
}

/* BUTTONS AND INPUTS */
.inputQuantity,
.btnQuantity {
  font-size: 1rem;
  /* padding: rem 1rem; */
  width: 1.5rem;
  height: 1.5rem;
}
.btnQuantity {
  text-align: center;
}

/* Round only the outer corners */
.btnQuantity.left {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.btnQuantity.right {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
@media (min-width: 1024px) {
  .categoryHeading {
    padding: 4rem;
  }
}
