#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
* {
  font-family: "Comic Neue", "Comic Sans MS", cursive, sans-serif;
  /* font-family: "Courier New", Courier, monospace; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categoryHeading {
  padding: 4rem;
}
a {
  text-decoration: none;
  color: inherit;
}

select {
  border: none;
  outline: none;
  background: rgb(236, 235, 235);
  margin: 0.5rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  /* padding: 0.5rem 2.5rem 0.5rem 1rem; */
}

.homeNavUL {
  display: flex;
  gap: 10rem;
  font-size: 2rem;
  flex-direction: row;
  justify-content: center;
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.categoryPage {
  padding: 5rem 0rem 0rem 0rem;
  /* background-color: rgba(255, 0, 0, 0.5);; */
}

.productDetails,
.productDescription {
  /* width: 30rem; */
}

.productDescription {
  padding: 2rem;

  font-size: 0.8rem;
}

.productImageCard {
  margin: 2rem;
  height: 30rem;
  width: auto;
}

.productImageCart {
  padding: 2rem;
  height: 12rem;
  width: auto;
}

.itemCard {
  position: fixed;

  top: 0; /* start at top */
  left: 0; /* start at left */
  width: 100vw; /* full viewport width */
  height: 100vh; /* full viewport height */
  z-index: 1000;
  background-color: white;

  border-radius: 1rem;
  color: black; /* for contrast */
  padding: 2rem;
}

.btnAddCart {
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: #3b82f6; /* Tailwind's blue-500 */
  color: white;
  border-radius: 0.25rem;
}

.quantity,
.btnQuantity {
  padding: 0.5rem 1rem;
  width: 4rem;
}
.btnQuantity {
  padding: 0;
  text-align: center;
}
