.cartItemDetails {
  font-size: 0.8rem;
  padding: 0.2rem 1.2rem;
  display: grid;
  place-items: center; /* shorthand for align-items + justify-items */
}

.cartItemDetailsDescription {
  font-size: 0.8rem;

  padding: 0.2rem;
}
.cartItemDetailsPrice {
  font-size: 0.8rem;

  padding: 0.5rem;
}

.cartItem {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr; /*  columns, equal width */
  align-items: center;
  /* border-width: 1px; */
  /* border-style: solid; */
  padding: 0.2rem 0rem;
}

.cartItemQuantity {
  display: grid;
  place-items: center; /* shorthand for align-items + justify-items */ /* grid-auto-flow: column; lay items out left-to-right */

  padding: 1rem 0rem;
}

.cartItemQuantityBtns {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, equal width */
}

.productImageCart {
  padding: 0 0 0 1rem;
  height: auto;
  width: 100%;
  max-width: 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  display: block;
  object-fit: contain;
}

.cartSubtotal {
  font-size: 0.8rem;
}
.cartTotal {
  padding: 0.5rem 0 0 0;
  font-size: 0.8rem;
}

@media (min-width: 1024px) {
  .cartItemDetails {
    padding: 2rem 1rem;
    display: grid;
    place-items: center; /* shorthand for align-items + justify-items */
    row-gap: 1rem; /* spacing between the stacked items */
  }

  .cartItemDetailsDescription {
    padding: 1rem;
  }
  .cartItemDetailsPrice {
    padding: 0.5rem;
  }

  .cartItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*  columns, equal width */
    align-items: center;
    /* border-width: 1px; */
    /* border-style: solid; */
    padding: 1rem 0rem;
  }

  .cartItemQuantity {
    display: grid;
    place-items: center; /* shorthand for align-items + justify-items */ /* grid-auto-flow: column; lay items out left-to-right */

    padding: 2rem 1rem;
  }

  .cartItemQuantityBtns {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns, equal width */
  }

  .productImageCart {
    padding: 1rem;
    height: 10rem;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }

  .cartSubtotal {
    font-size: 1rem;
  }
  .cartTotal {
    padding: 1rem 0 0 0;
    font-size: 0.8rem;
  }
}
